@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<h3>@title</h3>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
	static string greetings()
	{
		return ("H3llo");
	}
	string title = greetings();
}